@model IEnumerable<EatAndDrink.ViewModels.TotalDevice>

<div>
    <a href = "@Url.RouteUrl("Default", new { controller = "Terminal", action = "ExportByCurrency"})">Экспорт в Excel</a>
</div>

<table class="table">
    <thead>
        <tr>
            <td>CardNumber</td>
            <td>Total </td>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CardNumber</td>
            <td>
                @{
                    if (item.TotalEur != 0)
                    {
                        @item.TotalEur
                    }
                    else if (item.TotalUsd != 0)
                    {
                        @item.TotalUsd
                    }
                    else if (item.TotalKgs != 0)
                    {
                        @item.TotalKgs
                    }
                    else if (item.TotalKzt != 0)
                    {
                        @item.TotalKzt
                    }
                }
            </td>







        </tr>
    }
</table>


